table{
    background-color: white;
    align-content: center;
    
}
tr:nth-child(even){
    background-color: green;
}
.center{
    margin-left: auto;
    margin-right: auto;
}
tr{
    border-bottom: 15px solid;
    
}
tr:hover{background-color: greenyellow;
}
hr{
    width: 50%;
    text-align: left;

}
select{
    background-color: green;
}
.box{
    width: 600px;
    padding: 20px;

}
option{
    background-color: greenyellow;
}
body{
    margin-left: auto;
    margin-right: auto;
}
fieldset{
    display: inline;
    
}
table{
 border: 10px;  
}



